### **Wgrywanie plik贸w i przygotowanie notatnika**

In [2]:
from google.colab import files

uploaded = files.upload()

Saving comment_body_before.csv to comment_body_before.csv

In [3]:
from google.colab import files

uploaded = files.upload()

Saving comment_body_after.csv to comment_body_after.csv

In [28]:
import pandas as pd
import numpy as np
import spacy
# # !python -m spacy download en_core_web_lg
# nlp = spacy.load('en_core_web_lg')

In [4]:
nlp.max_length = 1000000

In [5]:
with open("comment_body_before.csv", "r", encoding = "utf-8") as file:
    doc_before = file.read()

with open("comment_body_after.csv", "r", encoding = "utf-8") as file:
    doc_after = file.read()

In [8]:
nlp_doc_before = nlp(doc_before)
nlp_doc_after = nlp(doc_after)

In [6]:
# Sprawdzanie iloci token贸w
print(len(nlp(doc_before)))
print(len(nlp(doc_after)))

169544
192742

### **ANALIZA PIERWSZEGO ZBIORU**

### **Tokenizacja i Lematyzacja**

In [123]:
# Utworzenie list z tokenami i ich wasnociami
doc_before_token = [str(token.text) for token in nlp_doc_before]
doc_before_token_lemma = [str(token.lemma_) for token in nlp_doc_before]
doc_before_token_pos = [str(token.pos_) for token in nlp_doc_before]
doc_before_token_dep = [str(token.dep_) for token in nlp_doc_before]

In [132]:
# Utworzenie tabeli
doc_before_df_token = pd.DataFrame(list(
    zip(
        doc_before_token,
        doc_before_token_lemma,
        doc_before_token_pos,
        doc_before_token_dep)),
        columns = ["Token", "Lemma", "Token_Pos", "Token_Dep"])

In [145]:
# Wyrzucenie enter贸w
doc_before_df_token = doc_before_df_token[doc_before_df_token.Token != "\n"]

# Usunicie nag贸wka z zaczytanego pliku
doc_before_df_token = doc_before_df_token.drop([0])

In [146]:
doc_before_df_token

         Token   Lemma Token_Pos Token_Dep
2            I  -PRON-      PRON     nsubj
3           'm      be       AUX      ROOT
4       pretty  pretty       ADV    advmod
5         sure    sure       ADJ     acomp
6        there   there      PRON      expl
...        ...     ...       ...       ...
169538     the     the       DET       det
169539  combat  combat      NOUN     nsubj
169540       a       a       DET       det
169541    joke    joke      NOUN     ccomp
169542       "       "     PUNCT     punct

[164395 rows x 4 columns]

In [57]:
# Stworzenie pliku excel do atwiejszego przegldania treci
writer = pd.ExcelWriter("doc_before_df_token.xlsx")
doc_before_df_token.to_excel(writer, index = False)
writer.save()

In [ ]:
files.download("doc_before_df_token.xlsx")

In [147]:
# Sprawdzenie iloci poszczeg贸lnych token贸w bez punkt贸w i spacji
doc_before_df_token[doc_before_df_token.Token_Pos != "PUNCT"].value_counts(ascending = False)

Token      Lemma    Token_Pos  Token_Dep
the        the      DET        det          4906
I          -PRON-   PRON       nsubj        3832
a          a        DET        det          3025
and        and      CCONJ      cc           2569
to         to       PART       aux          2473
                                            ...
factoring  factor   VERB       advcl           1
factories  factory  NOUN       dobj            1
factor     factor   VERB       advcl           1
                    NOUN       nsubj           1
squad      squad    NOUN       ROOT            1
Length: 26359, dtype: int64

In [148]:
doc_before_df_token[doc_before_df_token.Token_Pos != "PUNCT"].sort_values(by = ["Lemma"])

       Token Lemma Token_Pos Token_Dep
112326    \t    \t     SPACE
166386    \t    \t     SPACE
127022  \n\n  \n\n     SPACE
122538  \n\n  \n\n     SPACE
19167   \n\n  \n\n     SPACE
...      ...   ...       ...       ...
3121       お     お     PROPN     appos
100944     し     し         X     punct
120194     し     し         X      ROOT
144067     ズ     ズ     PROPN     punct
144068     ズ     ズ     PROPN     punct

[142560 rows x 4 columns]

In [149]:
# Usuwanie kolejnych markdown贸w typu: \t, \n\n itd.

doc_before_df_token[doc_before_df_token.Token_Pos != "SPACE"]

         Token   Lemma Token_Pos Token_Dep
2            I  -PRON-      PRON     nsubj
3           'm      be       AUX      ROOT
4       pretty  pretty       ADV    advmod
5         sure    sure       ADJ     acomp
6        there   there      PRON      expl
...        ...     ...       ...       ...
169538     the     the       DET       det
169539  combat  combat      NOUN     nsubj
169540       a       a       DET       det
169541    joke    joke      NOUN     ccomp
169542       "       "     PUNCT     punct

[162583 rows x 4 columns]

In [ ]:
# Stworzenie nowego pliku excel do atwiejszego przegldania treci
# doc_before_df_token = doc_before_df_token[doc_before_df_token.Token_Pos != "SPACE"]
writer = pd.ExcelWriter("doc_before_df_token.xlsx")
doc_before_df_token.to_excel(writer, index = False)
writer.save()

files.download("doc_before_df_token.xlsx")

### **Nazwy wasne**

In [117]:
# Tworzenie list dla nazw wasnych i ich wasnoci
doc_before_ent = [str(ent.text) for ent in nlp_doc_before.ents]
doc_before_ent_label = [str(ent.label_) for ent in nlp_doc_before.ents]
doc_before_ent_explain = [str(spacy.explain(ent.label_)) for ent in nlp_doc_before.ents]

In [152]:
# Stworzenie tabeli
doc_before_ent_table = pd.DataFrame(list(zip(
    doc_before_ent,
    doc_before_ent_label,
    doc_before_ent_explain)),
    columns = ["Entity", "Label", "Explain"])

doc_before_ent_table = doc_before_ent_table.drop([0])
doc_before_ent_table

            Entity        Label                                       Explain
1     10 years ago         DATE         Absolute or relative dates or periods
2      8 years old         DATE         Absolute or relative dates or periods
3       at least 1     CARDINAL  Numerals that do not fall under another type
4                2     CARDINAL  Numerals that do not fall under another type
5      a month ago         DATE         Absolute or relative dates or periods
...            ...          ...                                           ...
5929          Xbox          GPE                     Countries, cities, states
5930         Nomad  WORK_OF_ART                  Titles of books, songs, etc.
5931    Night City          GPE                     Countries, cities, states
5932         first      ORDINAL                       "first", "second", etc.
5933      RDR2\n\n          ORG       Companies, agencies, institutions, etc.

[5933 rows x 3 columns]

### **Noun chunks**

In [138]:
# Tworzenie list dla nazw wasnych i ich wasnoci
doc_before_chunk = [str(chunk.text) for chunk in nlp_doc_before.noun_chunks]
doc_before_chunk_root = [str(chunk.root.text) for chunk in nlp_doc_before.noun_chunks]
doc_before_root_dep = [str(chunk.root.dep_) for chunk in nlp_doc_before.noun_chunks]

In [153]:
# Tworzenie tabeli
doc_before_chunk_table = pd.DataFrame(list(zip(
    doc_before_chunk,
    doc_before_chunk_root,
    doc_before_root_dep)),
    columns = ["Chunk", "Root", "Root_dep"])

doc_before_chunk_table = doc_before_chunk_table.drop([0])
doc_before_chunk_table

                Chunk      Root   Root_dep
1                   I         I      nsubj
2      story branches  branches       attr
3                  he        he      nsubj
4                   I         I      nsubj
5          the future    future      nsubj
...               ...       ...        ...
36163              it        it       pobj
36164            RDR2      RDR2       ROOT
36165        Dead Eye       Eye  nsubjpass
36166       that game      game       pobj
36167      the combat    combat      nsubj

[36167 rows x 3 columns]

### **Statystyki**

In [162]:
print(f"""Liczba unikatowych  Token贸w: {doc_before_df_token["Token"].nunique()},\n
Liczba unikatowych Lemat贸w: {doc_before_df_token["Lemma"].nunique()},\n
Liczba unikatowych  Nazw wasnych: {doc_before_ent_table["Entity"].nunique()},\n
Liczba unikatowych  Chunk贸w: {doc_before_chunk_table["Chunk"].nunique()},\n
Liczba Czci mowy: 
{doc_before_df_token["Token_Pos"].value_counts()}""")

Liczba unikatowych  Token贸w: 12345,

Liczba unikatowych Lemat贸w: 9345,

Liczba unikatowych  Nazw wasnych: 2909,

Liczba unikatowych  Chunk贸w: 14505,

Liczba Czci mowy:
NOUN     24220
PUNCT    21835
VERB     20424
DET      15336
PRON     13626
ADP      11680
ADV      10705
AUX      10244
ADJ      10086
PROPN     5857
PART      5198
CCONJ     4601
SCONJ     3523
NUM       2886
SPACE     1812
INTJ      1408
SYM        579
X          375
Name: Token_Pos, dtype: int64

### **ANALIZA DRUGIEGO ZBIORU**

### **TOKENIZACJA I LEMATYZACJA**

In [175]:
# Utworzenie list z tokenami i ich wasnociami
doc_after_token = [str(token.text) for token in nlp_doc_after]
doc_after_token_lemma = [str(token.lemma_) for token in nlp_doc_after]
doc_after_token_pos = [str(token.pos_) for token in nlp_doc_after]
doc_after_token_dep = [str(token.dep_) for token in nlp_doc_after]

In [176]:
# Utworzenie tabeli
doc_after_df_token = pd.DataFrame(list(
    zip(
        doc_after_token,
        doc_after_token_lemma,
        doc_after_token_pos,
        doc_after_token_dep)),
        columns = ["Token", "Lemma", "Token_Pos", "Token_Dep"])

In [177]:
# Wyrzucenie enter贸w
doc_after_df_token = doc_after_df_token[doc_after_df_token.Token != "\n"]

# Usunicie nag贸wka z zaczytanego pliku
doc_after_df_token = doc_after_df_token.drop([0])

In [178]:
doc_after_df_token

         Token   Lemma Token_Pos Token_Dep
2            "       "     PUNCT     punct
3           It  -PRON-      PRON     nsubj
4         sure    sure       ADV    advmod
5        feels    feel      VERB      ROOT
6         that    that       DET       det
...        ...     ...       ...       ...
192736      's  -PRON-      PRON     nsubj
192737      be      be       AUX     ccomp
192738  honest  honest       ADJ     acomp
192739     now     now       ADV    advmod
192740       "       "     PUNCT     punct

[187550 rows x 4 columns]

In [179]:
# Stworzenie pliku excel do atwiejszego przegldania treci
writer = pd.ExcelWriter("doc_after_df_token.xlsx")
doc_after_df_token.to_excel(writer, index = False)
writer.save()

In [ ]:
files.download("doc_after_df_token.xlsx")

In [180]:
# Sprawdzenie iloci poszczeg贸lnych token贸w bez punkt贸w i spacji
doc_after_df_token[doc_after_df_token.Token_Pos != "PUNCT"].value_counts(ascending = False)

Token    Lemma    Token_Pos  Token_Dep
the      the      DET        det          6152
I        -PRON-   PRON       nsubj        3837
a        a        DET        det          3332
and      and      CCONJ      cc           3113
to       to       PART       aux          2483
                                          ...
kx67vr   kx67vr   PROPN      nmod            1
kyqegw   kyqegw   PROPN      appos           1
l68rms   l68rms   PROPN      nmod            1
                             pobj            1
generic  generic  ADJ        dobj            1
Length: 29527, dtype: int64

In [181]:
doc_after_df_token[doc_after_df_token.Token_Pos != "PUNCT"].sort_values(by = ["Lemma"])

       Token Lemma Token_Pos Token_Dep
12010     \t    \t     SPACE
145657    \t    \t     SPACE
23456     \t    \t     SPACE
145665    \t    \t     SPACE
145671    \t    \t     SPACE
...      ...   ...       ...       ...
128613     コ     コ     PROPN       dep
48576      ゴ     ゴ         X      ROOT
12582      サ     サ      NOUN     punct
27245      ズ     ズ         X     punct
139754                NOUN      ROOT

[162561 rows x 4 columns]

In [182]:
# Usuwanie kolejnych markdown贸w typu: \t, \n\n itd.

doc_after_df_token[doc_after_df_token.Token_Pos != "SPACE"]

         Token   Lemma Token_Pos Token_Dep
2            "       "     PUNCT     punct
3           It  -PRON-      PRON     nsubj
4         sure    sure       ADV    advmod
5        feels    feel      VERB      ROOT
6         that    that       DET       det
...        ...     ...       ...       ...
192736      's  -PRON-      PRON     nsubj
192737      be      be       AUX     ccomp
192738  honest  honest       ADJ     acomp
192739     now     now       ADV    advmod
192740       "       "     PUNCT     punct

[185342 rows x 4 columns]

In [ ]:
# Stworzenie nowego pliku excel do atwiejszego przegldania treci
# doc_after_df_token = doc_after_df_token[doc_after_df_token.Token_Pos != "SPACE"]
writer = pd.ExcelWriter("doc_after_df_token.xlsx")
doc_after_df_token.to_excel(writer, index = False)
writer.save()

files.download("doc_after_df_token.xlsx")

### **Nazwy wasne**

In [183]:
# Tworzenie list dla nazw wasnych i ich wasnoci
doc_after_ent = [str(ent.text) for ent in nlp_doc_after.ents]
doc_after_ent_label = [str(ent.label_) for ent in nlp_doc_after.ents]
doc_after_ent_explain = [str(spacy.explain(ent.label_)) for ent in nlp_doc_after.ents]

In [184]:
# Stworzenie tabeli
doc_after_ent_table = pd.DataFrame(list(zip(
    doc_after_ent,
    doc_after_ent_label,
    doc_after_ent_explain)),
    columns = ["Entity", "Label", "Explain"])

doc_after_ent_table = doc_after_ent_table.drop([0])
doc_after_ent_table

              Entity  ...                                            Explain
1               CDPR  ...            Companies, agencies, institutions, etc.
2              Gemma  ...                        People, including fictional
3               1000  ...       Numerals that do not fall under another type
4      Peter griffin  ...                        People, including fictional
5                ME3  ...                        People, including fictional
...              ...  ...                                                ...
5809         2 weeks  ...              Absolute or relative dates or periods
5810        Freeking  ...            Companies, agencies, institutions, etc.
5811              EU  ...            Companies, agencies, institutions, etc.
5812           Aight  ...      Objects, vehicles, foods, etc. (not services)
5813  Cyberpunk 2077  ...  Named hurricanes, battles, wars, sports events...

[5813 rows x 3 columns]

### **Noun chunks**

In [185]:
# Tworzenie list dla nazw wasnych i ich wasnoci
doc_after_chunk = [str(chunk.text) for chunk in nlp_doc_after.noun_chunks]
doc_after_chunk_root = [str(chunk.root.text) for chunk in nlp_doc_after.noun_chunks]
doc_after_root_dep = [str(chunk.root.dep_) for chunk in nlp_doc_after.noun_chunks]

In [186]:
# Tworzenie tabeli
doc_after_chunk_table = pd.DataFrame(list(zip(
    doc_after_chunk,
    doc_after_chunk_root,
    doc_after_root_dep)),
    columns = ["Chunk", "Root", "Root_dep"])

doc_after_chunk_table = doc_after_chunk_table.drop([0])
doc_after_chunk_table

                   Chunk       Root Root_dep
1                     It         It    nsubj
2                      I          I    nsubj
3                   CDPR       CDPR    nsubj
4      the wrong version    version     dobj
5               the game       game     pobj
...                  ...        ...      ...
41659   the current work       work     pobj
41660          Cyberpunk  Cyberpunk     dobj
41661             Delays     Delays    nsubj
41662           the hack       hack     pobj
41663                 's         's    nsubj

[41663 rows x 3 columns]

### **Statystyki**

In [187]:
print(f"""Liczba unikatowych  Token贸w: {doc_after_df_token["Token"].nunique()},\n
Liczba unikatowych Lemat贸w: {doc_after_df_token["Lemma"].nunique()},\n
Logiczba uniogkatowych  Nazw wasnych: {doc_after_ent_table["Entity"].nunique()},\n
Liczba unikatowych  Chunk贸w: {doc_after_chunk_table["Chunk"].nunique()},\n
Liczba Czci mowy: 
{doc_after_df_token["Token_Pos"].value_counts()}""")

Liczba unikatowych  Token贸w: 13748,

Liczba unikatowych Lemat贸w: 10300,

Liczba unikatowych  Nazw wasnych: 2615,

Liczba unikatowych  Chunk贸w: 16475,

Liczba Czci mowy:
NOUN     28632
PUNCT    24989
VERB     22550
DET      18175
PRON     15425
ADP      13201
ADV      12661
AUX      11543
ADJ      11245
PROPN     6243
PART      5591
CCONJ     5489
SCONJ     4077
NUM       2338
SPACE     2208
INTJ      1589
SYM       1036
X          558
Name: Token_Pos, dtype: int64